


<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario Formacion Academica</h5>
      </div>
      <div class="modal-body">
        <form>

        <div class="form-group">          
          <p>Grado Formacion</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-graduation-cap text-info"></i></div>              
                <select  id="sel2" onchange={{action 'nivelAcademicoSelected' value="target.value"}} >
                    {{#each NivelAcademico as |itemNivel|}}
                        <option value={{itemNivel.nivelAcademicoID}} >{{itemNivel.Nivel}}</option>
                    {{/each}}
                </select>                   
          </div>                 
        </div>

        <div class="form-group">          
          <p>Titulo</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-id-card text-info"></i></div>               
                {{input
                    value=form.titulo
                    placeholder="Titulo"
                    autocomplete='off'
                    class="form-control text-secondary border border-info "
                }} 
                <label hidden={{tituloVal}} class="errorMessage mensaje-error is-valid">Este no es un numero valido</label>
          </div>                 
        </div>

        <div class="form-group">          
          <p>Institucion</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-university text-info"></i></div>              
                {{input
                    value=form.institucion
                    placeholder="Institucion"
                    autocomplete='off'
                    class="form-control text-secondary border border-info "
                }} 
                <label hidden={{institucionVal}} class="errorMessage mensaje-error is-valid">Este no es un numero valido</label>                  
          </div>                 
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">          
                    <p>Desde</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar text-info"></i></div>                
                            {{!-- {{input
                                value=form.fechainicio
                                placeholder="Fecha Inicio"
                                autocomplete='off'
                                class="form-control text-secondary border border-info "
                            }}    --}}
                            {{pikaday-input 
                                value=form.fechainicio
                                format="YYYY/MM/DD" 
                                onSelection=(action 'onFechaIni') 
                                class="form-control text-secondary border border-info " 
                                placeholder="Fecha Ini" 
                            }}                                      
                    </div>     
                    
                </div>
                <label hidden={{fechainicioVal}} class="errorMessage mensaje-error">Porfavor Ingrese una fecha correcta</label>
            </div>         

            <div class="col-sm-6">
                <div class="form-group">          
                    <p>Hasta</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar text-info"></i></div>                
                            {{!-- {{input
                                value=form.fechafin
                                placeholder="Fecha Fin"
                                autocomplete='off'
                                class="form-control text-secondary border border-info "
                            }} --}}

                            {{!-- {{pikaday-input 
                                format="YYYY/MM/DD" 
                                onSelection=(action 'onFechaFin') 
                                class="form-control text-secondary border border-info " 
                                placeholder="Fecha Fin"
                            }} --}}
                            {{pikaday-input value=form.fechafin format="YYYY/MM/DD" onSelection=(action 'onFechaFin') class="form-control text-secondary border border-info " placeholder="Fecha Emision" }}
                    </div>  
                    <label hidden={{fechainicioVal}} class="errorMessage mensaje-error is-valid">Este no es un numero valido</label>                                
                </div>
            </div>
        </div>              

        
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        {{#link-to 'index' tagName="button" class="btn btn-secondary"}}
            Regresar
        {{/link-to}}
        <button type="button" class="btn btn-primary" {{action 'onGuardar'}}>Guardar</button>
      </div>
    </div>
  </div>





