{{!-- style="width: 800px; border:2px solid red " --}}

    
<div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel" >Detalle Tallas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        
            <h5 class="text-uppercase ">Gestion</h5>
            <select  class="form-control" id="sel3" onchange={{action 'gestionSelected' value="target.value"}} >
                {{#each ComboTallasDetalle as |item|}} 
                    <option value={{item.ControlDotacionID}}  selected={{is-eq item.FechaInicial fechaActual}} >{{item.FechaInicial}}</option>
                {{/each}}                            
            </select>
            <hr id="linea2"> 
            {{#each objeto2 as |item|}}                
                
                <div class=" " >
                    <div class="card-content">

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="heading{{item.usuario}}">
                                    {{!-- <div  class="section-title">
                                        <h5  class="text-uppercase text-center" ><i class="title-icon"></i>{{item.CodigoTran}}</h5>
                                    </div>  --}}
                                    
                                    {{!-- <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{item.usuario}}" aria-expanded="false" aria-controls="collapse{{item.usuario}}">
                                            <h5 style="margin: 2% "  class="text-uppercase modal-title">{{item.CodigoTran}}</h5>                                                                                
                                        </button>
                                    </h5> --}}
                                    <div>
                                        <span class="text"><i class="far fa-smile"></i>
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{item.usuario}}" aria-expanded="false" aria-controls="collapse{{item.usuario}}">
                                                    <h5 style="margin: 2% "  class="text-uppercase modal-title">{{item.CodigoTran}}</h5>                                                                                
                                                </button>
                                            </h5>
                                        </span>
                                        <span class="icon"><i class="far fa-smile"></i>
                                            <div  class="section-title">
                                                <h5  class="text-uppercase text-center" ><i class="title-icon"></i>{{item.CodigoTran}}
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{item.usuario}}" aria-expanded="false" aria-controls="collapse{{item.usuario}}">
                                                        <i>{{fa-icon 'arrow-down' }}</i>
                                                    </button>
                                                </h5>                                                
                                            </div>                                            
                                        </span>
                                    </div>
                                </div>

                                <div id="collapse{{item.usuario}}" class="collapse show" aria-labelledby="heading{{item.usuario}}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="timeline-info" style="margin: 4%">                              
                                        <h6>                        
                                            <span class="title">EsExtra: <span id="negrita">{{item.EsExtra}}</span></span>
                                        </h6>                    
                                        <h6>
                                            <span class="title">Fecha Dotacion: <span id="negrita">{{item.fechaMov}}</span></span>                        
                                        </h6>                                                      
                                        <br>
                                    </div>
                                </div>
                                </div>
                            </div>  
                        </div>         
                        
                    </div>                    
                </div> 
                
                {{!-- <h6>{{item.CantidadMovimiento}}</h6>
                <h6>{{item.CodigoTran}}</h6>
                <h6>{{item.fechaMov}}</h6>
                <h6>{{item.fechaAprobacion}}</h6>
                <h6>{{item.prenda}}</h6> --}}
                {{render}}
            {{/each}} 

        
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        {{!-- {{#link-to 'index' tagName="button" class="btn btn-secondary"}}
            Regresar
        {{/link-to}} --}}
        {{!-- <button type="button" disabled={{isDisabledBeneficiario}} class="btn btn-primary" {{action 'onGuardar'}}>Guardar</button> --}}
      </div>
    </div>
 </div>





<style>  
    span.icon {
    height: 32px;
    }
    @media (min-width: 641px) {
        span.icon {display:none}
        span.text {display:inline-block}
    }
    @media (max-width: 640px) {
        span.icon {display:inline-block}
        span.text {display:none}
    }
</style>
