 

<!--==========================================
                   MEMOS
===========================================-->



  <div class="content-wrapper" id="seccion1">
    
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <center><strong>Bienvenido!</strong> Usted ingreso a su Ficha Personal.</center>
    </div>
   

    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-suitcase"></i>Documentos Personales</h4>
        </div>

        <br><button id="botonEditar" type="button" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" data-toggle="modal" data-target="#exampleModal">
            {{fa-icon 'user-edit'}} Nuevo
        </button> <br>

        <div id="timeline-experience">
                {{#each webapidataDocumentos as |item|}} 
                <!-- FIRST TIMELINE -->
                <div class="timeline-block">
                    <!-- Circulo con la primer Letra  -->
                    {{!-- <div class="timeline-dot"><h6>Letra</h6></div> --}}
                
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">    

                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">                                
                                <h6>
                                    Tipo Documento: <small>{{item.TipoDocumento}}</small>
                                </h6>
                                <h6>
                                    Documeto: <small>{{item.NumeroDocumento}}</small>
                                </h6>
                                <h6>
                                    Fecha Emisor: <small>{{item.FechaEmision}}</small>
                                </h6>
                                <h6>
                                    Fecha Vencimiento: <small>{{item.FechaVencimiento}}</small>
                                </h6>
                                <h6>
                                    Observaciones: <small>{{item.Observacion}}</small>
                                </h6>
                            </div>
                            
                            <!-- TIMELINE PARAGRAPH -->
                            {{!-- <p>
                                {{item.Descripcion}}
                            </p> --}}
                            <!-- BUTTON TRIGGER MODAL -->
                            {{!-- <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a> --}}
                            <button onclick={{action "idEditar" item}} id="botonEditar" type="button" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" data-toggle="modal" data-target="#exampleModal2">
                                {{fa-icon 'user-edit'}} Editar                                
                            </button>
                            <button onclick={{action "idEliminar" item}} id="botonEditar" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" >
                                {{fa-icon 'trash'}}
                            </button>  
                        </div>
                    </div>
                </div>
                {{/each}}                              
        </div>
    </div>




      

    </div>   

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
         {{partial 'formulario-documentos'}}
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
         {{partial 'formulario-doceditado'}}
    </div>
</div>