 

<!--==========================================
                   MEMOS
===========================================-->



  <div class="content-wrapper" id="seccion1">
    
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <center><strong>Bienvenido!</strong> Usted ingreso a su Ficha Personal.</center>
    </div>
   

    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-suitcase"></i>Documentos Personales</h4>
        </div>

        <br><button onclick={{action "nuevoDocu"}} id="botonEditar" type="button" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" data-toggle="modal" data-target="#exampleModal">
            {{fa-icon 'user-edit'}} Nuevo
        </button> 
        <br>  
        <hr id="linea2">

        <div id="timeline-experience">
                {{#each webapidataDocumentos as |item|}} 
                <!-- FIRST TIMELINE -->
                <div class="timeline-block">
                    <!-- Circulo con la primer Letra  -->
                    {{!-- <div class="timeline-dot"><h6>Letra</h6></div> --}}
                
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">    

                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">                                
                                <h6>
                                    Tipo Documento: <small>{{item.TipoDocumento}}</small>
                                </h6>
                                
                                {{#if  (is-eq item.DocumentoID 10) }}    
                                        <h6>
                                            Referencia: <small>{{item.Referencia}}</small>
                                        </h6>           
                                {{/if}}

                                {{#if  (is-eq item.DocumentoID 12) }}                                     
                                    {{#each TipoLicencia as |itemLicencia|}}
                                    {{!-- <p>ingreso {{itemLicencia.Id}} {{item.Referencia}}</p> --}}
                                        {{#if  (is-eq itemLicencia.Id item.Referencia) }}  
                                            <h6>
                                                Referencia: <small>{{item.Referencia}}</small>
                                            </h6> 
                                        {{/if}}
                                    {{/each}}                                                    
                                {{/if}}

                                {{#if  (is-eq item.DocumentoID 5) }}                                     
                                    {{#each ListaPaises as |itemPais|}}
                                        {{!-- <p>ingreso {{itemPais.paisID}} {{item.Referencia}}</p> --}}
                                        {{#if  (is-eq2 itemPais.paisID item.Referencia) }}  
                                            <h6>
                                                Referencia: <small>{{itemPais.nombrePais}}</small>
                                            </h6> 
                                        {{/if}}                                        
                                    {{/each}}                                                    
                                {{/if}}
                                {{#if  (is-eq item.DocumentoID 6) }}                                     
                                    {{#each ListaPaises as |itemPais|}}
                                        {{!-- <p>ingreso {{itemPais.paisID}} {{item.Referencia}}</p> --}}
                                        {{#if  (is-eq2 itemPais.paisID item.Referencia) }}  
                                            <h6>
                                                Referencia: <small>{{itemPais.nombrePais}}</small>
                                            </h6> 
                                        {{/if}}                                        
                                    {{/each}}                                                    
                                {{/if}}
                                {{#if  (is-eq item.DocumentoID 22) }}                                     
                                    {{#each ListaPaises as |itemPais|}}
                                        {{!-- <p>ingreso {{itemPais.paisID}} {{item.Referencia}}</p> --}}
                                        {{#if  (is-eq2 itemPais.paisID item.Referencia) }}  
                                            <h6>
                                                Referencia: <small>{{itemPais.nombrePais}}</small>
                                            </h6> 
                                        {{/if}}                                        
                                    {{/each}}                                                    
                                {{/if}}

                                {{!-- {{#if  (is-eq item.DocumentoID 9) }} 
                                    {{#each CombosVacunas as |itemVacuna|}}
                                         {{#if  (is-eq2 itemVacuna.tipoVacunaID item.Referencia)}}  
                                            <h6>
                                                Referencia: <small>{{itemVacuna.Nombre}}</small>
                                            </h6> 
                                        {{/if}}  
                                    {{/each}}                                                                  
                                {{/if}} --}}
                                <h6>
                                    Documeto: <small>{{item.NumeroDocumento}}</small>
                                </h6>
                                
                                <h6>
                                    Fecha Emisor: <small>{{item.FechaEmision}}</small>
                                </h6>
                                <h6>
                                    Fecha Vencimiento: <small>{{item.FechaVencimiento}}</small>
                                </h6>
                                <h6>
                                    Observaciones: <small>{{item.Observacion}}</small>
                                </h6>
                            </div>
                            
                            <!-- TIMELINE PARAGRAPH -->
                            {{!-- <p>
                                {{item.Descripcion}}
                            </p> --}}
                            <!-- BUTTON TRIGGER MODAL -->
                            {{!-- <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a> --}}
                            <button onclick={{action "idEditar" item}} id="botonEditar" type="button" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" data-toggle="modal" data-target="#exampleModal2">
                                {{fa-icon 'user-edit'}}                                
                            </button>
                            <button onclick={{action "idEliminar" item}} id="botonEditar" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" >
                                {{fa-icon 'trash'}}
                            </button>  
                        </div>
                    </div>
                </div>
                {{/each}}                              
        </div>
    </div>
    <br>




      

    </div>   

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
         {{partial 'formulario-documentos'}}
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
         {{partial 'formulario-doceditado'}}
    </div>
</div>


{{!-- 
<script>
    jQuery(document).ready(function(){
 
	jQuery('#exampleModal').on('hidden.bs.modal', function (e) {
	    jQuery(this).removeData('bs.modal');
	    jQuery(this).find('.modal-content').empty();
	})
 
    })
</script> --}}