

<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edicion Medico Cabecera</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

        <div class="form-group">          
          <p>Medico Cabecera</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-user text-info"></i></div>              
                {{input
                    value=formmedico.NombreMedico
                    placeholder="Medico Cabecera"
                    autocomplete='off'
                    class="form-control text-secondary border border-info "
                }}                                     
          </div>   
          <label hidden={{nombreMedicoVal}} class="errorMessage mensaje-error">{{mensajeErrorTextoNombre}}</label>
          {{!-- <label hidden={{longitud2}} class="errorMessage mensaje-error">no hay nada</label> --}}
        </div>

        <div class="form-group">          
          <p>Direccion Consultorio</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-map-signs text-info"></i></div>              
                {{input
                    value=formmedico.DireccionMedico
                    placeholder="Direccion"
                    autocomplete='off'
                    class="form-control text-secondary border border-info "
                }}
          </div>  
          <label hidden={{direccionMedicoVal}} class="errorMessage mensaje-error">{{mensajeErrorTextoDireccion}}</label>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">          
                    <p>Telefono Fijo</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-phone text-info"></i></div>              
                            {{input
                                value=formmedico.TelefonoMedico
                                placeholder="Telefono Domicilio"
                                autocomplete='off'
                                class="form-control text-secondary border border-info "
                            }}
                    </div>   
                    <label hidden={{validarTelefono}} class="errorMessage mensaje-error">{{mensajeErrorTextoTelefono}}</label>              
                    {{!-- <label hidden={{pruebN1}} class="errorMessage mensaje-error">{{mensajeErrorTextoCondicionado}}</label>               --}}
                </div> 
            </div>

            <div class="col-sm-6">
                <div class="form-group">          
                    <p>Telefono Celular</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-mobile text-info"></i></div>              
                            {{input
                                value=formmedico.NroCelularMedico
                                placeholder="Telefono Celular"
                                autocomplete='off'
                                class="form-control text-secondary border border-info "
                            }}
                    </div> 
                    <label hidden={{validarTelefono}} class="errorMessage mensaje-error">{{mensajeErrorTextoCelular}}</label>
                    {{!-- <label hidden={{num2}} class="errorMessage mensaje-error">{{mensajeErrorTextoCondicionado}}</label> --}}
                </div> 
            </div>
        </div>   
        

        <div class="form-group">          
          <p>Alergias</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-file-medical text-info"></i></div>              
                <select  onchange={{action 'alergiasSelected' value="target.value"}} >
                    <option disabled selected> -- Alergias -- </option>
                    {{#each AlergiasMedicas as |itemAlergia|}}
                        <option value={{itemAlergia.Name}}  selected={{is-eq itemAlergia.Name formmedico.Name}} >{{itemAlergia.Name}}</option>
                    {{/each}}
                </select>
          </div>      
          {{!-- <label hidden={{alergiasMedicasValido}} class="errorMessage mensaje-error">{{mensajeErrorTextoNombre}}</label>            --}}
        </div> 

        <div class="form-group">          
          <p>Medicamentos</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-briefcase-medical text-info"></i></div>              
                {{input
                    value=formmedico.Medicamentos
                    placeholder="Medicamentos"
                    autocomplete='off'
                    class="form-control text-secondary border border-info "
                }}
          </div>  
          <label hidden={{medicamentosValido}} class="errorMessage mensaje-error">{{mensajeErrorTexto}}</label>               
        </div> 

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">          
                    <p>RH Sanguineo</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-gratipay text-info"></i></div>              
                            <select   onchange={{action 'factorSanguineoSelected' value="target.value"}} >
                                <option disabled selected> -- RH -- </option>
                                {{#each CombosFactorSanguineo as |itemSanguineo|}}
                                    <option value={{itemSanguineo.Name}}  selected={{is-eq itemSanguineo.Name formmedico.GrupoSanquineo}} >{{itemSanguineo.Name}}</option>
                                {{/each}}
                            </select>
                    </div>                 
                </div> 
            </div>

            <div class="col-sm-6">
                <div class="form-group">          
                    <p>Factor Sanguineo</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-gratipay text-info"></i></div>               
                            <select   onchange={{action 'rhSanguineoSelected' value="target.value"}} >
                                <option disabled selected> -- Factor -- </option>
                                {{#each rhSanguineoCombo as |itemRH|}}
                                    <option value={{itemRH.Label}}  selected={{is-eq itemRH.Label formmedico.RH_Sanguineo}} >{{itemRH.Label}}</option>
                                {{/each}}
                            </select>
                    </div>                 
                </div> 
            </div>
        </div>

        
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        {{!-- {{#link-to 'index' tagName="button" class="btn btn-secondary"}}
            Regresar
        {{/link-to}} --}}
        {{!-- <button type="button" class="btn btn-primary" disabled={{isDisabledMedico}} data-dismiss="modal" {{action 'onGuardarMedico'}}>Guardar</button> --}}
        {{!-- <button type="button" class="btn btn-primary"  data-dismiss="modal"  {{action 'onGuardarMedico'}}>Guardar</button> --}}

        <button hidden={{isDisabledMedico}} data-dismiss="modal"   type="button" class="btn btn-primary"  disabled={{isDisabled}}   {{action 'onGuardarMedico'}}>Guardar</button>
            <button hidden={{habilitarMedico}} type="button" class="btn btn-danger"   {{action 'onGuardarMedico'}}>Guardar</button>


      </div>
    </div>
  </div>




