



 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    
      <span class="texto"><i class="far fa-smile"></i>
          <a class="navbar-brand" href="index.html"><img src="Content/img/logoBoa3.png" style="width: 80px;"><img src="Content/img/ficha.png" style="width: 200px;"></a>    
      </span>
      <span class="logo"><i class="far fa-smile"></i>
          <a class="navbar-brand" href="index.html"><img src="Content/img/logoBoa3.png" style="width: 80px;"> </a>    
      </span>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" id="selec" data-toggle="tooltip" data-placement="right" >
          {{#link-to "index" class="nav-link" }}
              {{fa-icon 'user' id="selec"}}
            <span class="nav-link-text" id="selec">Perfil</span>
          {{/link-to}}             
         
        </li>
        <li class="nav-item"  data-toggle="tooltip" data-placement="right">
          {{#link-to "formacion" class="nav-link" }}
              {{fa-icon 'user-graduate' }}
            <span class="nav-link-text" >Educacion</span>
          {{/link-to}} 
        </li> 
        <li class="nav-item"  data-toggle="tooltip" data-placement="right">
          {{#link-to "informacion-laboral" class="nav-link" }}
              {{fa-icon 'user-secret' }}
            <span class="nav-link-text" >Informacion Laboral</span>
          {{/link-to}} 
        </li>
        <li class="nav-item"  data-toggle="tooltip" data-placement="right">
          {{#link-to "beneficiario" class="nav-link" }}
              {{fa-icon 'users' }}
            <span class="nav-link-text" >Beneficiarios</span>
          {{/link-to}} 
        </li>
        <li class="nav-item"  data-toggle="tooltip" data-placement="right">
          {{#link-to "memorandum" class="nav-link" }}
              {{fa-icon 'folder' }}
            <span class="nav-link-text" >Memorandum</span>
          {{/link-to}} 
        </li>   
        <li class="nav-item"  data-toggle="tooltip" data-placement="right">
          {{#link-to "documentos-personales" class="nav-link" }}
              {{fa-icon 'folder' }}
            <span class="nav-link-text" >Documentos Personales</span>
          {{/link-to}} 
          <li class="nav-item"  data-toggle="tooltip" data-placement="right">
          {{#link-to "tallas" class="nav-link" }}
              {{fa-icon 'list-ul' }}
            <span class="nav-link-text" >Tallas</span>
          {{/link-to}} 
        </li> 
        </li>      
      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">         
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
          
        </li>
      </ul>
      {{!-- Mensajes --}}
      <ul class="navbar-nav ml-auto">
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li> --}}
      {{!-- Alertas --}}
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>      --}}
        
        {{#if estadoSecion}}
          <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#exampleModalSalir">
                <i class="fa fa-fw fa-sign-out"></i>Salir</a>
            </li>                      
        {{/if}}
        {{#unless estadoSecion}}
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModalLogin">
              <i class="fa fa-fw fa-sign-out"></i>Inicio Secion</a>
          </li>            
        {{/unless}}
        
      </ul>
    </div>
  </nav>


  
<div class="modal fade" id="exampleModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogin" aria-hidden="true">
    <div class="modal-dialog" role="document">
         {{partial 'login'}}
    </div>
</div>

<div class="modal fade" id="exampleModalSalir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelSalir" aria-hidden="false">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
      <div class="modal-header">
        {{!-- <h5 class="modal-title" id="exampleModalLabel2">Inicio Sesion</h5> --}}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">                
        <form>   
          <h3>Esta por cerrar su sesion</h3>  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>      
        <button type="button" class="btn btn-primary" data-dismiss="modal"  {{action 'logout'}}>Ok</button>
      </div>
    </div>
    </div>
</div>




<style>  
    span.icon {
    height: 32px;
    }
    @media (min-width: 641px) {
        span.logo {display:none}
        span.texto {display:inline-block}
    }
    @media (max-width: 640px) {
        span.logo {display:inline-block}
        span.texto {display:none}
    }
</style>