

  <div class="content-wrapper" id="seccion1">
    
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <center><strong>Bienvenido!</strong> Usted ingreso a su Ficha Personal.</center>
    </div>
   

<form>
        <div class="form-group">          
          <p>Idioma</p>
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-language text-info"></i></div>              
                <select  id="sel3" onchange={{action 'idiomaSelected' value="target.value"}} >
                {{#each webapidataComboIdioma as |itemIdioma|}} 
                    <option value={{itemIdioma.idiomaID}}  selected={{is-eq itemIdioma.idiomaID formi.idiomaID}} >{{itemIdioma.Nombre}}</option>
                {{/each}}                
            </select>                
          </div>                 
        </div>
        

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">          
                <p>Habla</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>              
                            <select  id="sel2" onchange={{action 'nivelSelectedHabla' value="target.value"}} >
                                {{#each idiomaNivel as |itemHabla|}}
                                    <option value={{itemHabla.Code}}  selected={{is-eq itemHabla.Label formi.habla}} >{{itemHabla.Label}}</option>
                                {{/each}}
                            </select>                
                    </div>                 
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group">          
                <p>Lee</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-readme text-info"></i></div>              
                            <select  id="sel2" onchange={{action 'nivelSelectedLee' value="target.value"}} >
                                {{#each idiomaNivel as |itemLee|}}
                                    <option value={{itemLee.Code}}  selected={{is-eq itemLee.Label formi.lee}} >{{itemLee.Label}}</option>
                                {{/each}}
                            </select>                
                    </div>                 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">          
                <p>Escribe</p>
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-pen-fancy text-info"></i></div>              
                            <select  id="sel2" onchange={{action 'nivelSelectedEscribe' value="target.value"}} >
                                {{#each idiomaNivel as |itemEscribe|}}
                                    <option value={{itemEscribe.Code}}  selected={{is-eq itemEscribe.Label formi.escribe}} >{{itemEscribe.Label}}</option>
                                {{/each}}
                            </select>                
                    </div>                 
                </div>
            </div> 
        </div>  
      </form>


      <br><button id="botonEditar" type="button" style="float:right; margin-right: 1%; margin-block-start: -1%; " class="btn" data-toggle="modal" data-target="#exampleModal">
        {{fa-icon 'user-edit'}} Agregar Idiomas
    </button> <br>

    </div>   

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
         {{partial 'formulario2'}}
    </div>
</div>